/* ----------------- Class CSS -----------------*/
/* navbar background color */
.nb-background-color{
    background-color:#25CB87;
}
/* navbar link text properties */
.nbMenuItem{
    font-size:25px;
    margin-left:10px;
    margin-right:10px;
    color:black;
}
/* authors.html */
.about{
    width: 400px;
    margin: auto;
}
.about-team{
    color:black;
}
.authors{
    background-color:#b6d3c4;
}

/* index.html */
.showcase{
    background-color: #9dd4b8;
}
.showColor{
    color:#202020;
    font-weight:bold;
}
.overview{
    background-color: #b6d3c4;
}

/* Procedure.html */
.procedure{
    background-color: #b6d3c4;
    padding:1px;
}
.howTo{
    font-size:20px;
}

.ovPadLeft{
    padding-left:20px;
}
.ovPadRight{
    padding-right:20px;
}
.icon-white{
    color:white;
}
.footer{
    background-color:#25CB87; /* footer color */
}

.small-20{
    width:20%;
    height:20%;
}
/* ----------------- ID CSS -----------------*/

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}